<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calorie Calculation Form</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>Calorie Calculation Form</h2>
<p>Fill in the form and click the button to find out how many calories you need, today!</p>
<form action="/calories_form" method="post">
    <p>Let's get some information about you, first.</p>
    {{calories_form.weight.label}} {{calories_form.weight}}
    <br>
    {{calories_form.height.label}} {{calories_form.height}}
    <br>
    {{calories_form.age.label}} {{calories_form.age}}
    <br>
    {{calories_form.sex.label}} {{calories_form.sex}}
    <hr>
    <p>Today's weather counts too.<br>
        Tell us where you are, so we can include today's temperature into the calculation.</p>
    <br>
    {{calories_form.city.label}} {{calories_form.city}}
    <br>
    {{calories_form.country.label}} {{calories_form.country}}
    <hr>
    {{calories_form.button}}
    <hr>
    {% if result==True %}
    <h3>You need {{calories}} calories, today.</h3>
    {% endif %}
</form>
</body>
</html>